{

  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": ["warn", "windows"]
  },
  "globals": {
    "document": true,
    "location": true,
    "window": true
  },
  "env": {
    "browser": true
  }
}
