.project-preview-container{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 15px;
  font-size: medium;
  color: white;
  padding: 5px;
  font-family: 'Amatic SC';
  padding-top: 80px;
  max-height: 280px;
}

.project-preview-item{
  margin: 5px;
  cursor: pointer;
  display: flex;
}

.name{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  min-height: 50px;
  overflow-x: auto;
}

.project-preview-item:hover {
  border-color: white;
}

.project-previews-wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  align-items: center;
  margin: auto;
}
