.project-detail-name{
  font-size: xx-large;
  color: white;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.project-detail-desc{
  font-size: large;
  color: white;
  /* align-content: center; */
  padding-top: 30px;
  font-size: x-large;
  width: 60%;
  margin: auto;
}

.project-preview-item:hover {
  border-color: white;
}

.project-previews-wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  align-items: center;
  margin: auto;
}