
.project-detail{
  margin: 5px;
  cursor: pointer;
  color: white;
}

.project-name{
  font-size: xx-large;
  color: white;
  justify-content: center;
}

.project-desc{
  font-size: large;
  color: white;
  align-content: center;
}

.project-preview-item:hover {
  border-color: white;
}

.project-previews-wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  align-items: center;
  margin: auto;
}